.nav-link {
  color: #333;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  color: #007bff;
}

.active-link {
  color: #007bff !important;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
  padding-bottom: 3px;
}
